<a href="https://colab.research.google.com/github/arieframasyarif/Komputer-Naive-Bayes/blob/master/Komputer_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Create By Arif Rama Syarif  **

Modified by Andreas Mulyarahardja

In [7]:
cd D:/Program2/NaiveBayesArif

D:\Program2\NaiveBayesArif

In [59]:
#Explore dataset

import pandas as pd
import numpy as np

df = pd.read_csv("Transaksi pembelian komputer -Training.csv",delimiter=';')
komputer = pd.DataFrame(df)
komputer.head()

          Usia Pendapatan  Pelajar Kredit        Label
0         muda      tinggi   tidak   macet  tidak beli
1         muda      tinggi   tidak  lancar  tidak beli
2  tengah baya      tinggi   tidak   macet        beli
3          tua      sedang   tidak   macet        beli
4          tua      rendah      ya   macet        beli

**LabelEncoder & OneHotEncoder**

The labelEncoder and OneHotEncoder only works on categorical features. We need first to extract the categorial featuers using boolean mask.

In [60]:
# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

In [61]:
categorical_cols=komputer.columns
# apply le on categorical feature columns
komputer[categorical_cols] = komputer[categorical_cols].apply(lambda col: le.fit_transform(col))
komputer[categorical_cols].head()

   Usia  Pendapatan   Pelajar  Kredit   Label
0     0            2        0        1      1
1     0            2        0        0      1
2     1            2        0        1      0
3     2            1        0        1      0
4     2            0        1        1      0

In [62]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [63]:
feature_names = list(komputer.columns)
do_not_use_for_training = ['Label']

feature_names = [f for f in komputer.columns if f not in do_not_use_for_training]

print('Total features : {}'.format(len(feature_names)))

komputer[feature_names].count()
y = komputer['Label']

Total features : 4

In [64]:
Xtr, Xv, ytr, yv = train_test_split(komputer[feature_names], y, test_size=0.3, random_state=1)

**BUILD MODEL**

In [65]:
naive_bayes = MultinomialNB()
naive_bayes.fit(Xtr, ytr)
predictions = naive_bayes.predict(Xv)

**EVALUATION**

In [66]:
#Training Score
naive_bayes.score(Xtr, ytr)

0.7777777777777778

In [67]:
#Testing Score
naive_bayes.score(Xv, yv)

0.6

**PREDICT DATA**

In [68]:
Xv['prediction'] = naive_bayes.predict(Xv)
Xv['real_class'] = yv

In [69]:
Xv.head()

    Usia  Pendapatan   Pelajar  Kredit   prediction  real_class
3      2            1        0        1           0           0
7      0            1        0        1           0           1
6      1            0        1        0           0           0
2      1            2        0        1           1           0
10     0            1        1        0           0           0

**SAVE THE MODEL AS FILE .pkl**

In [70]:
from sklearn.externals import joblib

In [71]:
joblib.dump(naive_bayes, 'Transaksi pembelian komputer.pkl')

['Transaksi pembelian komputer.pkl']

**BATCH OF PREDIKSON**

In [72]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.externals import joblib

**EXTRACT**

In [204]:
df = pd.read_csv('Transaksi pembelian komputer -Testing.csv')
testing_komputer = pd.DataFrame(df)
testing_komputer=testing_komputer.append(pd.Series(['tua','sedang','ya','lancar'],index=testing_komputer.columns),ignore_index=True)
testing_komputer.head()

  Usia Pendapatan  Pelajar Kredit
0  tua      tinggi   tidak   macet
1  tua      sedang      ya  lancar

In [205]:
pd.read_csv("Transaksi pembelian komputer -Training.csv",delimiter=';').head(2)

   Usia Pendapatan  Pelajar Kredit        Label
0  muda      tinggi   tidak   macet  tidak beli
1  muda      tinggi   tidak  lancar  tidak beli

**LabelEncoder & OneHotEncoder**

The labelEncoder and OneHotEncoder only works on categorical features. We need first to extract the categorial featuers using boolean mask.

In [206]:
# apply le on categorical feature columns
categorical_cols=testing_komputer.columns
com=pd.read_csv("Transaksi pembelian komputer -Training.csv",delimiter=';').drop(columns='Label',axis=1)
dum=com.append(testing_komputer,ignore_index=True)
dum

           Usia Pendapatan  Pelajar Kredit
0          muda      tinggi   tidak   macet
1          muda      tinggi   tidak  lancar
2   tengah baya      tinggi   tidak   macet
3           tua      sedang   tidak   macet
4           tua      rendah      ya   macet
5           tua      rendah      ya  lancar
6   tengah baya      rendah      ya  lancar
7          muda      sedang   tidak   macet
8          muda      rendah   tidak   macet
9           tua      sedang      ya   macet
10         muda      sedang      ya  lancar
11  tengah baya      sedang   tidak  lancar
12  tengah baya      tinggi      ya   macet
13          tua      sedang   tidak  lancar
14          tua      tinggi   tidak   macet
15          tua      sedang      ya  lancar

In [207]:
categorical_cols=dum.columns
# apply le on categorical feature columns
dum[categorical_cols] =dum[categorical_cols].apply(lambda col : le.fit_transform(col))
print(komputer.head())
dum

   Usia  Pendapatan   Pelajar  Kredit   Label
0     0            2        0        1      1
1     0            2        0        0      1
2     1            2        0        1      0
3     2            1        0        1      0
4     2            0        1        1      0

    Usia  Pendapatan   Pelajar  Kredit
0      0            2        0        1
1      0            2        0        0
2      1            2        0        1
3      2            1        0        1
4      2            0        1        1
5      2            0        1        0
6      1            0        1        0
7      0            1        0        1
8      0            0        0        1
9      2            1        1        1
10     0            1        1        0
11     1            1        0        0
12     1            2        1        1
13     2            1        0        0
14     2            2        0        1
15     2            1        1        0

In [208]:
testing_komputer=dum.iloc[-2:,:]

**TRANSFORM**

In [209]:
naive_bayes_model_load = joblib.load('Transaksi pembelian komputer.pkl')

In [210]:

testing_komputer['prediction'] = naive_bayes_model_load.predict(testing_komputer)

C:\Users\andrea064120\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [211]:
testing_komputer.head()
testing_komputer['prediction']=np.where(testing_komputer['prediction']==1,'tidak beli','beli')

C:\Users\andrea064120\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [201]:
a=pd.read_csv("Transaksi pembelian komputer -Training.csv",delimiter=';')['Label']
a=le.fit_transform(a)
{l: i for i, l in enumerate(le.classes_)}

{'beli': 0, 'tidak beli': 1}

**LOAD**

In [28]:
testing_komputer.to_csv("Hasil Klasifikasi pembelian komputer.csv", sep=',',index=False)

{'lancar': 0, 'macet': 1}